.backgroundcolour{
  background-color: green;
}
.insidebox{
  border:black 4px dashed;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 10px;
}
p{
  color: red;
}
p+p{
  color: darkgreen;
}
div~p{
	color:purple;
}
